

<div class="projects-cont" >
    <ng-container *ngFor="let project of projects">
        <div class="project"  >
            <section class="project-content" 
                [routerLink]="['/project/', project._id]"
            >
                {{project.project_name | titlecase}}
            </section>
            <div class="project-close" 
                (click)="toogleModalOutput('open-delete');
                selectProjectOutput(project._id)
                "
            >✕</div>
            </div>
    </ng-container>
   
    <div class="project add">
        <section class="project-content" 
            (click)="toogleModalOutput('open-add')"
        >
            <h4>Add Project</h4>
        </section>
    </div>
</div>
