<div class="modal-cont"
    (click)="toogleModalOutput('close-task')"
></div>
<section action="" class="modal-content add">

    <form class="modal-task-top"
    [formGroup]="taskForm"
>

    <div class="info task-section {{editionMode ? 'edition' : ''}}">

        <div class="task-title-cont">
            <input
                [readOnly]="!editionMode"
                type="text" 
                formControlName="title"
                placeholder="Task title"
            >
        </div>

        <div class="task-description-cont">
            <textarea
                [readOnly]="!editionMode"
                formControlName="description" 
                placeholder="With edit mode enabled you can insert a description here"
            ></textarea>
        </div>

    </div>

    <ng-container
        *ngIf="addObjective && editionMode"
    >
    <!-- to add objective -->
        <section class="add-element-section task-section">
           
                <input type="text"
                    placeholder="Insert Objective"
                    [(ngModel)]="newObjectiveText"
                    [ngModelOptions]="{standalone: true}"
                >

                <button 
                    class="save" 
                    (click)="toggleShowAddElement('close-objective'); createObjective()"
                >Save</button>

                <button 
                    class="delete" 
                    (click)="toggleShowAddElement('close-objective')"
                >Cancel</button>
      
        </section>

    </ng-container>

    <div class="objectives task-section"
        *ngIf="!addObjective"
    >
    <!-- OBJECTIVES -->
        <div class="objective-content" 
            [ngClass]="editionMode ? 'edition' : ''" 
            *ngFor="let objective of objectivesArray, index as i"
        >
            <input 
                type="checkbox"
                class="objective-check" 
                [id]="i"
                [checked]="objective.objective_done"
                (change)="toggleObjetiveStatus(objective)"
            >

            <label 
                [for]="i" 
                class="objective-check-label"
            >
                <div class="delete-item"
                    *ngIf="editionMode" 
                    (click)="deleteObjective(objective)"
                >✕</div>

                {{objective.objective_text}}
            </label>
        </div>

        <div class="add-btn objective"
            *ngIf="editionMode" 
            (click)="toggleShowAddElement('open-objective')">

            <h4>Add Objective</h4>
        </div>

    </div>

    <ng-container
        *ngIf="addTag && editionMode"
    >
    <!-- to add tags -->
        <section class="add-element-section task-section">
                <input 
                    type="text" 
                    placeholder="Insert Tag Text"
                    [(ngModel)]="newTagText"
                    [ngModelOptions]="{standalone: true}"
                >
                <div class="color-options-cont">
                    <div class="color-option color-1 {{defaultTagColor == 1 ? 'selected':''}}" (click)="changeDefaultTagColor(1)"></div>
                    <div class="color-option color-2 {{defaultTagColor == 2 ? 'selected':''}}" (click)="changeDefaultTagColor(2)"></div>
                    <div class="color-option color-3 {{defaultTagColor == 3 ? 'selected':''}}" (click)="changeDefaultTagColor(3)"></div>
                    <div class="color-option color-4 {{defaultTagColor == 4 ? 'selected':''}}" (click)="changeDefaultTagColor(4)"></div>
                    <div class="color-option color-5 {{defaultTagColor == 5 ? 'selected':''}}" (click)="changeDefaultTagColor(5)"></div>
                    <div class="color-option color-6 {{defaultTagColor == 6 ? 'selected':''}}" (click)="changeDefaultTagColor(6)"></div>
                </div>
                <button class="save" 
                    (click)="toggleShowAddElement('close-tag');
                    createTag()"
                >Save</button>
                <button 
                    class="delete" 
                    (click)="toggleShowAddElement('close-tag')"
                >Cancel</button>
           
        </section>
    </ng-container>

    <div class="tags task-section"
        *ngIf="!addTag"
    >

        <div class="tags-content"
            [ngClass]="editionMode ? 'edition' : ''" 
        >
        <!-- TAGS -->
            <ng-container 
                *ngFor="let tag of tagsArray, index as i"
            >
                <div class="tag color-{{tag.tag_color}}" 
                >
                    <div class="delete-item"
                        *ngIf="editionMode" 
                    >✕</div>

                   <p>{{tag.tag_text}}</p>

                </div>
            </ng-container>
        </div>

        <div class="add-btn tag"
            *ngIf="editionMode"
            (click)="toggleShowAddElement('open-tag')"
        >
            <h4>Add Tag</h4>
        </div>


    </div>
    
</form>

<!-- TOGGLE EDITION MODE -->
  <div class="modal-task-bottom">

    <div class="edition-switch-cont">
        <input [(ngModel)]="editionMode"
            (change)="setEditionMode()"
            type="checkbox" 
            id="edition"
            class="check-switcher"
        >
        <label for="edition">Edition</label>
    </div>

    <div>
        <button
            *ngIf="editionMode"
            (click)="updateTaskOnProject();
            toogleModalOutput('close-task')"
             class="save"
        >Save</button>
    </div>

  </div>

</section>

