<app-navbar></app-navbar>

<app-home-project
    (toogleModal)="toggleModal($event)"
    (selectProject) ="selectProject($event)"
    [projects] = projects
></app-home-project>

<app-modal-add
    *ngIf="showAddModal"
    modalSubject = "Project name" 
    (toogleModal)="toggleModal($event)"
    (createProject)="createProject($event)"
></app-modal-add>

<app-modal-delete
    *ngIf="showDeleteModal"
    modalSubject = "If you delete the project it cannot be recovered"
    (toogleModal)="toggleModal($event)"
    (deleteProject)="deleteProject()"
></app-modal-delete>