<app-projects-empty *ngIf="categories.length<1"></app-projects-empty>

<div class="categories-cont">
    <div *ngFor="let category of categories" class="categorie">
   <section class="category-header">
    <h4>{{category.name}}</h4>
   </section>

   <section class="category-body">
    <div class="task-cont" *ngFor="let task of category.tasks">
        <h4>{{task.task_title}}</h4>

        <div class="tags-cont">
            <ng-container *ngFor="let tag of task.task_tags">

                <div class="tag color-{{tag.tag_color}}" >
                        {{tag.tag_text}}
                </div>
            </ng-container>
            
        </div>
    </div>

    <div class="add-btn task">
        <h4>Add Task</h4>
    </div>
   </section>
    </div>

    <div class="add-btn category">
        <h4>Add Category</h4>
    </div>
</div>

