<app-navbar></app-navbar>

<div class="project-title-input">
    <div class="back-cont" [routerLink]="['/home']">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path></svg>
        <h3>
         {{project?.project_name | titlecase}}
        </h3>
    </div>
</div>
<drag-scroll class="categories-cont">
 <!-- CATEGORY -->
 <ng-container  *ngFor="let category of categories">
    <div *ngIf="category?.category_name !=''" class="categorie">
    
        <section class="category-header">
        <div class="category-close"
            (click)="toggleModal('open-delete');
            selectCategory(category._id);
            selectElementToDelete('category')"
        >✕</div>
         <h4>{{category?.category_name}}</h4>
        </section>

        <section class="category-body">

        <!-- TASK -->
            <div *ngFor="let task of category?.task" 
             class="task-cont">
             <div class="delete-item"
             (click)="toggleModal('open-delete');
            selectElementToDelete('task', task);
            selectCategory(category._id)"
         >✕</div>
                <div class="task-content {{getObjectivesQuantity(task?.objectives) == task?.objectives?.length ? 'completed' : '' }} {{task?.objectives?.length <1 ? 'blocked':''}}"
                    (click)=" selectCategory(category._id);
                    toggleModal('open-task',task)">
                <h4>{{task?.task_title}}</h4>
                <div class="tags-cont">
                    <ng-container *ngFor="let tag of task?.tags">

                        <div class="tag color-{{tag.tag_color}}" >
                                {{tag.tag_text}}
                        </div>
                    </ng-container>
                </div>
                <div class="counter {{getObjectivesQuantity(task?.objectives) < task?.objectives?.length ? 'wip' : 'completed' }}"
                    *ngIf="task?.objectives?.length>0"
                >{{getObjectivesQuantity(task?.objectives)}}/{{task?.objectives?.length}}</div>
               </div>
            </div>
  
         <div class="add-btn task"
            (click)="toggleModal('open-add-task');
            selectCategory(category._id)"
        >
             <h4>Add Task</h4>
         </div>
        </section>
    </div>

   
    </ng-container>
    <div class="add-btn category" (click)="toggleModal('open-add-category')">
        <h4>Add Category</h4>
    </div>
</drag-scroll>




<app-modal-add
    *ngIf="showAddModal" 
    [modalSubject] = "modalSubject"
    (toogleModal)="toggleModal($event)"
    (createProject) ="updateProject($event)"
 ></app-modal-add>

<app-modal-task
    *ngIf="showTaskModal" 
    [modalSubject] = "modalSubject" 
    [task] = "taskSelected" 
    [project] ="project"
    [selectedCategory] ="selectedCategory"
    (toogleModal)="toggleModal($event)"
 ></app-modal-task>

 <app-modal-delete
    *ngIf="showDeleteModal"
    modalSubject = "If you delete the category it cannot be recovered"
    (toogleModal)="toggleModal($event)"
    (deleteProject)="deleteElement()"
></app-modal-delete>
