.project-title-input{
    width: 85%;
    display: flex;
    margin: 3em auto 0 auto;
    padding: 0 0.5em 1em 0.5em;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    background-color: transparent;
    font-size: 16px;

    &:focus, &:active{
        outline: none;
    }
}

.categories-cont {
    width: 85%;
    margin: 1em auto 0 auto;
    padding-left: 3em;

    display: flex;

    height: 80vh;
    overflow-x: auto;

    .categorie {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90%;
        width: 285px;
        min-width: 285px;
        border: 1px solid #d9d9d9;
        border-radius: 8px;
        margin: 20px 50px 0 0;

        .category-header {
           
            width: 90%;
            height: 65px;
            line-height: 65px;
            margin: 0 auto;
            border-bottom: 1px solid #d9d9d9;
            position: relative;

            .category-close{
                position: absolute;
                right: -5px;
                top: 6px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                cursor: pointer;

                &:hover{
                    background-color: #d9d9d9;
                }
            }

            h4 {
                text-align: center;
            }
        }

        .category-body {
            width: 95%;
            height: 90%;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 20px 0 50px 0;

            .task-cont{
                position: relative;

                .task-content{
                    background-color: #fff;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    cursor: pointer;
                    margin-bottom: 15px;
                    border: 2px solid transparent;
                    border-bottom: 4px solid #E5AC55;
                    min-height: 120px;
                    padding: 20px 10px 10px 10px;
    
                    &:hover{
                        border: 2px solid #E5AC55;
                        border-bottom: 4px solid #E5AC55;
    
                    }
            
    
                    .tags-cont{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 1em;
                        .tag{
                           
                            height: 15px;
                            border-radius: 99px;
                            text-align: center;
                            padding: 15px;
                            margin: 0 10px 10px 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: bold;
                            font-size: 13px;
                        }
                    }
                }

                .delete-item{
                    cursor: pointer;
                    position: absolute;
                    top: -10px;
                    right: 3px;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #F26E6E;
                    color: #fff;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 25px;
                
                    &:hover{
                        background-color: darken($color: #F26E6E, $amount: 10);
                        transform: scale(1.15);
                    }
                
                    &::selection{
                        background-color: transparent;
                    }
                }
                

            }
        }
    }

    .add-btn {
        background-color: lighten($color: #66636f, $amount: 45);
        border-radius: 8px;
        cursor: pointer;
        height: 65px;
        line-height: 65px;
        margin-top: 20px;
        min-width: 285px;
       
        h4 {
            text-align: center;

            &::selection{
                background-color: transparent;
            }
        }

        &:hover {
            background-color: lighten($color: #66636f, $amount: 50);
        }

        &.task{
            min-width: 150px;
            margin-top: 30px;

        }
    }
}

.color-1{
    background-color: #EAB2C0;
    color: #AF465F ;
}
.color-2{
    background-color: #EAB2E1;
    color: #A35596 ;
}
.color-3{
    background-color: #f7e1c0;
    color: #E5AC55 ;
}
.color-4{
    background-color: #CCA3F4;
    color: #6d2060 ;
}
.color-5{
    background-color: #8CD0F6;
    color: #235F82  ;
}
.color-6{
    background-color: #B2EAE0;
    color: #277B6C ;
}
